<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog1</title>
</head>
<body style="background-image: linear-gradient(180deg,red,blue); background-repeat: no-repeat;">
    <h1 style="text-align: center; font-family: cursive; font-size: 50px;">Blog Post 1 Title</h1>
    <img src="images.jpg " style="text-align: center; width:700px" >
    <P style="color: white;font-family: cursive;font-size: 40PX;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis totam corrupti atque distinctio molestiae, aliquid culpa inventore, at, repellat reprehenderit quasi omnis iusto sunt quia asperiores nam molestias porro earum illum explicabo dolor praesentium eaque neque reiciendis! Eaque id fuga dolor aut blanditiis odio debitis! Fugit obcaecati itaque, a nihil praesentium qui ea adipisci quam eum quo. Fuga temporibus necessitatibus sed tempora laboriosam, esse, voluptates, ullam nam adipisci in voluptatibus quibusdam explicabo! Totam culpa dolorum voluptas fugit minus suscipit numquam ipsa, nisi laudantium. Iusto sit, dolor error rem reprehenderit fugit!</P>
</body>
</html>