<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogpost <form></form></title>
</head>
<body>
    <form style="background-image: linear-gradient(180deg,red,blue);
    height: 800px;">
        <h1 style="text-align: center;">Uploading Blog</h1>
        <div class="h1" style="text-align: center;">
        <label for="name" style="align-items: center;">Blog Title</label>
        <input type="text" name="name"><br></div>
        <div class="h2" style="text-align: center; margin-top: 20px;">
        <label for="image"style="text-align: center;     margin-right: 99px;">Enter Image</label>
        <input type="image" name="image" alt="  "><br></div>
        <div class="h3" style="text-align: center; margin-top: 20px;">
        <label for="about blog"style="text-align: center;">About Blog</label>
        <textarea></textarea></div>
    </form>
</body>
</html>