<!DOCTYPE html>
<html>
  <head>
    <title>Traction Shastra</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    
  </head>
  <body>
    <header>
      <div class="logo"><img src="favicon.ico" alt="Traction Shastra Logo"></div>
      <h1>Traction Shastra</h1>
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="contact.html">Map</map></a></li>
        <li><a href="CONTACTUS.HTML">Contact Us</a></li>
        <li ><input type="time"><a style="color: white;">Time Picker</a></li>
        <button style="margin-left: 949px;">login</button>
        <button  style="color: black;"><a href="http://127.0.0.1:8000/">signup</a></button>
      </ul>
    </nav>
    <section>
        <form>
            <input type="text" id="search" name="search" style="width:500px; height:30px; " >
            <label for="search">Search</label>
          </form>
          
      <h2><a href="add-blog.html">Add new blog</a></h2>
      <div class="blog-post" data-category="technology" data-tags="javascript">
        <a href="blogpost-1.html"><img src="images.jpg" alt="not found"></a>
        <h3><a href="blogpost-1.html">Blog Post 1 Title</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere est in mi sagittis, ac pellentesque dolor tincidunt. Fusce nec euismod nulla, ac interdum massa. Donec lacinia turpis ut odio tempus, nec tincidunt lacus aliquam. </p>
      </div>
      <div class="blog-post" data-category="social-media" data-tags="css">
        <a href="blogpost-2.html"><img src="images1.png" alt="not found"></a>
        <h3><a href="blogpost-2.html">Blog Post 2 Title</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere est in mi sagittis, ac pellentesque dolor tincidunt. Fusce nec euismod nulla, ac interdum massa. Donec lacinia turpis ut odio tempus, nec tincidunt lacus aliquam. </p>
      </div>
      <div class="blog-post" data-category="technology" data-tags="javascript">
        <a href="blogpost-3.html"><img src="images32.png" alt="not found"></a>
        <h3><a href="blogpost-3.html">Blog Post 3 Title</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere est in mi sagittis, ac pellentesque dolor tincidunt. Fusce nec euismod nulla, ac interdum massa. Donec lacinia turpis ut odio tempus, nec tincidunt lacus aliquam. </p>
      </div>
    </section>
    <footer>
        <script src="app.js"></script>
      <p>&copy; 2023 Traction Shastra</p>
    </footer>
  </body>
</html>
